.book-sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0%;
}
